body {
    background-image:url('images/bg.jpeg');
    background-repeat:no-repeat;
    background-size:cover;
    margin:0;
    font-size:14px;
    font-family:Verdana;
}

#form{

    height: 200px;
    width: 400px;
    color:white;
    top: 50%;
    left: 50%;
    position: fixed;
    margin-top: -100px;
    margin-left: -200px;
    list-style-type: none;
    line_height:130%

}

select, input{
      width:100%;
      box-sizing:border-box;
      color:black;
      background-color:white;
      border-color:transparent;
      border-radius: 10px;
      display : block;
 }

input[type=submit]{
    background:red;
    color:white;
    margin:0 auto;

    border: 3px solid red;
 }